main {
    flex: 1;
}

main ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    list-style: none;
}

@media(max-width: 650px) {
    main ul {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1000px) {
    #app {
        flex-direction: column;
    }
    
    #app main {
        margin-top: 30px;
        margin-left: -40px;
    }

    #app aside {
        width: 100%;
    }

}